@charset 'UTF-8';
@import 'partials/bourbon/bourbon';


/* --------------------------------

Variables

-------------------------------- */

$white: 	white;
$gray:		#f5f5f5;
$teal: 		#33c3f0;
$blue: 		#0fa0ce;
$black: 	#222222;
$orange: 	#E77E2D;
$bluegray:  #298cab;


/* --------------------------------

Primary

-------------------------------- */

body {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	background-image: url(/img/overlay.png);
}

hr {
    margin-bottom: 2rem;
    border-color: #E77E2D
}

a {
    text-decoration-skip: ink;
}


/* --------------------------------

Home

-------------------------------- */

.home {
	.projects {
		h3 {
			font-size: 1.8rem;
			@media (min-width: 550px) { font-size: 2.4rem }
		}

		.portfolio-referral {
			margin-top: 4rem;
		}

		.project h2 {
		    margin-top: 20px
		}

		.project .lead {
		    font-size: 1.25em
		}
	}
}

/* --------------------------------

Portfolio

-------------------------------- */

.portfolio {

	.projects {
		hr {
			margin-bottom: 5rem;
		}

		.controls {
			padding: 0 20px;
		    margin-left: -5px;
		    margin-bottom: .5rem;
		    list-style: none;

			li {
			    display: inline-block;
			    padding-right: 5px;
			    padding-left: 5px;
			}
		}
	}

	.project {
		.image {
			margin-bottom: 2rem;
			border-radius: 1rem;
		}

		.title {
			margin-bottom: 0;
		}

		hr {
			margin: 2rem 0;
		}

		.tags {
			padding-left: 0;
		    margin-left: -5px;
		    margin-bottom: 4rem;
		    list-style: none;

			li {
			    display: inline-block;
			    padding-right: 5px;
			    padding-left: 5px;

			    padding: 0 15px;
			    font-size: 11px;
			    font-weight: 600;
			    letter-spacing: .1rem;
			    text-transform: uppercase;
			    text-decoration: none;
			    white-space: nowrap;
			    background-color: transparent;
			    border-radius: 4px;
			    border: 1px solid #bbb;
			    box-sizing: border-box;
			}
		}

		.lead {
			font-weight: bold;
		}

		p {
			text-align: justify;
			text-align-last: center;

			@media (min-width: 750px) {
				max-width: 300px;
				margin-left: 50px;
			}
		}

		.button {
			margin-top: 2rem;
		}

		@media (min-width: 750px) {
			max-width: 400px;
			width: 100%;
		}

		max-width: 100%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		background: $gray;

		margin-bottom: 2rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 30px;
		border-radius: 4px;
		border: 1px solid #bbb;
	}
}

/* --------------------------------

Header

-------------------------------- */

.header {
	padding-top: 4rem;
	@media (min-width: 550px) {
		padding-top: 8rem;
	}
	padding-bottom: 1rem;

	nav a {
	    color: $black;
	    font-size: 18px;
	    font-weight: 600;
	    line-height: 6.5rem;
	    letter-spacing: .2rem;
	    text-decoration: none;
	    text-transform: uppercase;

	    &.active {
	    	color: $teal;
	    }

	    &:hover {
	    	color: $blue;

	    	svg path {
	    		fill: $blue !important;
	    	}
	    }
	}

	.icon {
		margin: 0.5em;
	}

	.title a {
		color: black;
		text-decoration: none;
	}
}

.intro {
	color: white;
	line-height: 3rem;
	margin-bottom: 5rem;
	h2 { font-size: 4.0rem }
	p, h2 { font-weight: 600 }
	p { font-size: 2em; font-weight: 400 }
	@media (min-width: 550px) { h2 { font-size: 5.0rem } }
}

/* --------------------------------

Footer

-------------------------------- */

footer {
	section:first-child {
		color: white;
		p, h2 { font-weight: 600; }
		p { font-size: 2em; font-weight: 400; }

		a {
			margin: 1em;
			text-decoration: none;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.copyright {
		margin: 3rem auto;
		text-align: center;

		p {
			margin: 0;
		}

		a {
			color: $black;
			font-weight: 600;
			text-decoration: none;

			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
	}

	.nucleo {

		img {
			max-height: 16px;
			vertical-align: middle;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	margin-top: 10rem !important;
}


/* --------------------------------

Other

-------------------------------- */

.no-js {
	.controls, img.lazyload {
		display: none;
	}
}

// Lazy Load
.lqip {
	will-change: filter;
	@include filter(blur(2px));
}

.lqip.lazyloaded {
	@include filter(blur(0px));
	@include transition(filter 400ms);
}

.twitter-search {
	font-weight: bold;
	text-decoration: none;
	color: $white !important;

	&:hover {
		opacity: 0.5;
	}
}

.parallax-mirror {
	opacity: 1;
	will-change: transform;
	@include animation(parallax 0.5s ease-in-out);
}

.parallax {
	background: $bluegray;

	.container {
		padding: 10rem 20px;

		@media (min-width: 400px) {
			padding: 10rem 0;
		}
	}

	@include keyframes(parallax) {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}


/* --------------------------------

Helpers

-------------------------------- */

.text-center {
	text-align: center;
}

.small {
	font-size: small;
	font-weight: 300;
}

/* --------------------------------

MixItUp

-------------------------------- */

button.mixitup-control-active {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;

	&:hover, &:active, &:focus {
		background-color: #1EAEDB;
		border-color: #1EAEDB;
		color: #FFF;
	}
}
