{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 200,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
