@charset 'UTF-8';
@import 'partials/bourbon/bourbon';
@import 'partials/variables';


/* --------------------------------

Home

-------------------------------- */

.home {
	width: 100%;
	box-sizing: border-box;

	.projects {
		text-align: center;

		h3 {
			font-size: 1.8rem;
			@media (min-width: 550px) { font-size: 2.4rem }
		}

		.project {
			.lead {
			    font-size: 1.25em
			}

			h2 {
			    margin-top: 20px
			}
		}

		.referral {
			margin-top: 4rem;
			text-align: center;
		}
	}
}
