@charset 'UTF-8';

/* --------------------------------

Bootstrap

-------------------------------- */

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'reboot';
@import 'utilities';

// Components
@import 'grid';
@import 'card';
@import 'buttons';


/* --------------------------------

Variables

-------------------------------- */

$white: 	white;
$gray:		#f5f5f5;
$teal: 		#33c3f0;
$blue: 		#0fa0ce;
$black: 	#222222;
$orange: 	#E77E2D;
$bluegray:  #298cab;


/* --------------------------------

Primary

-------------------------------- */

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	background-image: url('/resources/img/overlay.png');
}

hr {
    margin-bottom: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: $orange;
}

a {
    text-decoration-skip: ink;
}


/* --------------------------------

Header

-------------------------------- */

.header {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;

	nav a {
	    color: $black;
	    font-size: 18px;
	    font-weight: 600;
	    line-height: 6.5rem;
	    letter-spacing: .2rem;
	    text-decoration: none;
	    text-transform: uppercase;
	    text-align: center;

	    &.active {
	    	color: $teal;
	    }

	    &:hover {
	    	color: $blue;

	    	svg path {
	    		fill: $blue !important;
	    	}
	    }
	}

	.icon {
		padding-right: 0.5em;

		&:last-child {
			padding-right: 0;
		}
	}

	.title {
	    font-size: 3.5rem;
	    font-weight: 300;
	    line-height: 1.1;

	    hr {
	    	margin-bottom: 0;
	    }

		a {
			color: black;
			text-decoration: none;

		    &:hover {
		    	color: $blue;
	    	}
		}
	}
}

.introduction, .contact {
	color: white;
	margin-bottom: 5rem;
	font-size: 200%;

	a {
		text-decoration: none;

		&:hover {
			opacity: 0.5;
		}
	}
}


/* --------------------------------

Footer

-------------------------------- */

.footer {
	text-align: center;

	.contact a {
		margin-right: 1rem;
		&:last-child {
			margin-right: 0;
		}
	}

	.copyright {
		a {
			color: $black;
			font-weight: 600;
			text-decoration: none;

			&:hover {
				color: $black;
				text-decoration: underline;
			}
		}
	}

	.nucleo {
		img {
			max-height: 16px;
			vertical-align: middle;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	margin-top: 5rem !important;
}


/* --------------------------------

Other

-------------------------------- */

.no-js {
	.controls, img.lazyload {
		display: none;
	}
}

// Lazy Load
.lqip {
	will-change: filter;
	filter: blur(2px);
}

.lqip.lazyloaded {
	filter: blur(0px);
	transition: filter 0.5s ease-in-out;
}

.twitter-search {
	font-weight: bold;
	text-decoration: none;
	color: $white !important;

	&:hover {
		opacity: 0.5;
	}
}

.parallax-mirror {
	opacity: 1;
	will-change: transform;
	animation: parallax 0.5s ease-in-out;
}

.parallax {
	background: $bluegray;

	.container {
		padding: 10rem 20px;

		@media (min-width: 400px) {
			padding: 10rem 0;
		}
	}

	keyframes(parallax) {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

button.mixitup-control-active {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;

	&:hover, &:active, &:focus {
		background-color: #1EAEDB;
		border-color: #1EAEDB;
		color: #FFF;
	}
}


/* --------------------------------

Helpers

-------------------------------- */

.text-center {
	text-align: center;
}

.small {
	font-size: small;
	font-weight: 300;
}


