/* --------------------------------

Form

-------------------------------- */

.form-control {
    &:focus {
        border-color: $blue;
        box-shadow: 0 0 0 0.2rem rgba($blue,.25);
    }
}

label {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}