/* --------------------------------

Header

-------------------------------- */

.pcj-header {
    color: $white;

    &-title {
        font-size: 200%;
        font-weight: 700;
        color: $white !important;
        border-radius: 0.25rem;

        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }

    &-content {
        font-size: 200%;
        margin-top: 4rem;
        margin-bottom: 4rem;

        h2 {
            font-weight: 700;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: $white;

            &:hover {
                color: $white;
                opacity: 0.5;
            }
        }
    }
}