/* --------------------------------

Header

-------------------------------- */

.pcj-header {
    color: $white;
    font-size: 200%;

    h2 {
        font-weight: 700;
    }

    .row {
        padding: 6rem 0px;
    }
}