/* --------------------------------

Header

-------------------------------- */

.pcj-header {
    color: $white;
    padding: 2rem 0;

    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: $white !important;
        border-radius: 0.25rem;

        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }

    &-content {
            font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;

        h2 {
            font-weight: 700;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: $white;

            &:hover {
                color: $white;
                opacity: 0.5;
            }
        }
    }

    @media (min-width: 768px) {
        padding: 6rem 0;
        &-title, &-content {
            font-size: 2rem;
        }
    }
}