/* --------------------------------

Lazysizes

-------------------------------- */

// Lazy Load
.lqip {
    will-change: filter;
    filter: blur(2px);
}

.lqip.lazyloaded {
    filter: blur(0px);
    transition: filter 2.5s ease-in-out;
}