/* --------------------------------

Variables

-------------------------------- */

$white: 	white;
$gray:		#f5f5f5;
$teal: 		#33c3f0;
$blue: 		#0fa0ce;
$black: 	#222222;
$orange: 	#E77E2D;
$bluegray:  #298cab;