---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Blog from "../components/Blog.astro";
import AI from "../components/AI.astro";
---

<Layout
  title="Peter Chr. Jørgensen - Web Developer & Game Developer"
  description="I'm a web developer from Denmark specializing in Laravel, WordPress, and Unity. I build digital experiences that feel powerful and intuitive."
>
  <main id="main-content">
    <Hero />
    <About />
    <Projects />
    <AI />
    <Blog />
  </main>
</Layout>
