/* --------------------------------

Variables

-------------------------------- */

// Colors
$white:     white;
$black:     #222222;
$gray:      #f5f5f5;
$teal:      #33c3f0;
$blue:      #0fa0ce;
$orange:    #E77E2D;
$bluegray:  #298cab;
